/*====================/
/Whole Page
/====================*/

/*
html {
  background: url('/Misc/7178994-1024x576.png') no-repeat center fixed;
  background-size: cover;
}
*/


/* Make all elements include padding and margins to their size */
* 
{
  box-sizing: border-box;
}

/* Main body */
body
{
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}


/*====================/
/Variables
/====================*/

/*@property --startColor
{
  syntax: "<color>";
  initial-value: #EADEDB;
  inherits: false;
}*/

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}



/*====================/
/Fonts
/====================*/
h1 
{
  font-family: Georgia, serif;
}

p
{
  font-family: Arial, Helvetica, sans-serif;
}

span
{
  font-family: Arial, Helvetica, sans-serif;
}



/*====================/
/Navigation Bar Style
/====================*/
/* set banner sizes and properties */
div.banner
{
  height: 10vh;
  max-width: 100%;
  display:  block;
  
  background-color: rgba(0,0,0,0);
  color: crimson;
  border: 2px solid red; 
}

.columnRight
{
  /* max-width: 50%; */
  height: auto;
  
  float: right;
  
  padding-top: 20px;
  padding-right: 20px;
  display: inline-block;
  position:relative;
  
}

.columnLeft
{
  padding-top: 2%;
  padding-left: 3%;
  display: inline-block;
  position:relative;
  float:left;
}

.topLeftImage
{
  width:100%;
  height:100%;
}


/* set the unsort list properties */
ul.navBar
{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  /* background-color: #dddddd; */
  border: 2px solid yellow;
  
  /* display: inline-block; */
}

/* set the individual element properties */
li, li.dropdown
{
  float: left;
}

/* Style the navigation buttons and Dropdown Button */
li a, .dropbtn 
{
  display: block;
  padding: 20px;
  
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none; /* remove underline */
  /* background-color: #dddddd; */
}

li:first-child
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

li:last-child
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* Change the background color of when the navigation buttons are hovered; dropdown button when the dropdown content is shown */
li a:hover, .dropdown:hover .dropbtn 
{
  background-color: rgba(0, 0, 0, 0.4);
}

/* outlier for a different hover color */
.whiteHover:hover
{
  background-color: rgba(255, 255, 255, 0.6);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
  background-color: #f1f1f1;
}


.active
{
  background-color: rgba(100, 0, 0, 0.4);
}


/*====================/
/ Other Classes
/====================*/
div.everything
{
  height: auto;
  width:auto;
  
  background: url('/Misc/7178994-1024x576.png') no-repeat center fixed;
  background-size: cover;
}

.mainSection {
  height: 90%;
  width:100%;
  text-align: center;
 

  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  color: white;
  background-image: url('/Misc/7178994-1024x576.png');
  text-align: center;
}



.rest
{
  height: 85%;
  padding: 50% 0;
  color: white;
  font-size: 60px;
  font-family: Garamond, serif;
}

div.homeMiddleSection
{
  line-height: 200px;
  max-width:100%;
  text-align: center;
  height: 85vh;
  /*padding: 50% 0;*/
  color: white;
  font-size: 60px;
  /*font-family: Garamond, serif;*/
  
  
  border: 2px solid green;
}

/* The Footer at every page */
div.footer
{
  height: 5vh;
  max-width: 100%;
  
  border-top: 1px solid grey;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 20px;
  
  background-color: black;
  color: white;
}