/*====================/
/Whole Site
/====================*/

/*
html {
  background: url('/Misc/7178994-1024x576.png') no-repeat center fixed;
  background-size: cover;
}
*/


/* Make all elements include padding and margins to their size */
* 
{
  box-sizing: border-box;
}

/* Main body */
body
{
  height: auto;
  
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*====================/
/Variables
/====================*/

/*@property --startColor
{
  syntax: "<color>";
  initial-value: #EADEDB;
  inherits: false;
}*/

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}



/*====================/
/Fonts
/====================*/
h1 
{
  font-family: Georgia, serif;
}

p
{
  font-family: Arial, Helvetica, sans-serif;
}

span
{
  font-family: Arial, Helvetica, sans-serif;
}



/*====================/
/Navigation Bar Style
/====================*/
/* set banner sizes and properties */
div.banner
{
  height: 10vh;
  max-width: 100%;
  display:  block;
  
  background-color: rgba(0,0,0,0);
  color: crimson;
  /* border: 2px solid red; debug */
}

.columnRight
{
  /* max-width: 50%; */
  height: auto;
  
  float: right;
  
  padding-top: 20px;
  padding-right: 20px;
  display: inline-block;
  position:relative;
  
}

.columnLeft
{
  padding-top: 2%;
  padding-left: 3%;
  display: inline-block;
  position:relative;
  float:left;
}

.topLeftImage
{
  width:100%;
  height:100%;
}


/* set the unsort list properties */
ul.navUnsortedList
{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  
  /* background-color: #dddddd; */
  /* border: 2px solid yellow; debug */
  
  /* display: inline-block; */
}

/* set the individual element properties */
li.navListItem, li.dropdown
{
  float: left;
}

/* Style the navigation buttons and Dropdown Button */
li.navListItem a, .dropbtn 
{
  display: block;
  padding: 20px;
  
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none; /* remove underline */
  /* background-color: #dddddd; */
}

li.navListItem:first-child
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

li.navListItem:last-child
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* Change the background color of when the navigation buttons are hovered; dropdown button when the dropdown content is shown */
li.navListItem a:hover, .dropdown:hover .dropbtn 
{
  background-color: rgba(0, 0, 0, 0.4);
}

/* outlier for a different hover color */
.whiteHover:hover
{
  background-color: rgba(255, 255, 255, 0.6);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(222, 222, 222, 0.2);
  width: 50%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a
{
  display: block;
  padding: 12px 16px;
  
  background-color: rgba(222, 222, 222, 0.2);
  color: black;
  text-decoration: none;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
  background-color: #f1f1f1;
}


.navActive
{
  background-color: rgba(100, 0, 0, 0.4);
}

/*====================/
/ SiteWide Classes
/====================*/
div.everything
{
  height: auto;
  width:auto;
  
  background: url('/Misc/7178994-1024x576.png') no-repeat center fixed;
  background-size: cover;
}

/*Creates a large section with background visible on the sides */
.rest
{
  height: auto;
  min-height: 90vh;
  max-width: 100%;
  box-sizing: border-box;
  
  margin: 0 2vw;
  padding: 1vh 2vw;
  
  color: white;
  background-color: rgba(19, 1, 1, 0.9);
  border: 2px solid white;
}

.mainSection {
  height: 90%;
  width:100%;
  text-align: center;
 

  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  color: white;
  background-image: url('/Misc/7178994-1024x576.png');
  text-align: center;
}

.hidden
{
  display: none !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* The Footer at every page */
div.footer
{
  height: 5vh;
  max-width: 100%;
  
  border-top: 1px solid grey;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 20px;
  
  background-color: black;
  color: white;
}

/*====================/
/ Index Classes
/====================*/
/* centered text in the center and that's it */
div.homeMiddleSection
{
  box-sizing: border-box;
  max-width:100%;
  text-align: center;
  height: 85vh;
  padding: 30vh 0;
  color: white;
  font-size: 60px;
  
  /* border: 2px solid green; debug */
}

/*====================/
/ Portfolio Classes
/====================*/



/* Creates a divider between sections */
.sectionHeader
{
  height: 10vh;
  max-width: 100%;
  margin: 1vh 0;
  display: block;
  box-sizing:border-box;
  
  text-align: center;
  
  color: white;
  font-size: 60px;
  border-bottom: 2px solid white;
}

/* Creates unsorted list where its elements are centered */
ul.projectUnsortedList
{
  max-width: 100%;
  height: auto;
  display: block;
  
  margin: 2vh 2vw;
  padding: 2px;
  
  list-style-type: none;
  text-align: center;
  
  /* overflow: hidden; */
  
  /* background-color: #dddddd; */
  /* border: 2px solid yellow; debug */
}

/* Creates a element that can go side by side, have a fixed size, and can be centered */
li.projectElement
{
  /* height: 30vh;
  max-width:  30%;*/
  height: auto;
  width: 333px;
  display:inline-block;
  
  padding: 0 1vw;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 4px;
  
  /* border: 2px solid blue; debug */  
}

/* Creates a link with no background nor text decoration */
li.projectElement a
{
  width: 100%;
  height: auto;
  
  word-wrap: break-word;
  background: none;
  text-decoration: none;
}

/* Creates a holder with a fixed size for an image */
div.projectImageHolder
{
  width: 100%;
  height: 200px;
  
  text-align: center;
  
  background-color: rgba(19, 1, 1, 0.9);
}

/* Creates an image that will fill whatever element it is put inside */
img.projectImage
{
  display: block;
  width: 100%;
  height: 100%;
  
  margin: auto;
  border: 0;
  vertical-align: middle;
  overflow: clip;
  object-fit: fill;
}

/* Creates a section for the name where its background can be recolored */
div.projectName
{
  width: 100%;
  display: block;
  
  padding: 15px;
  
  text-align: center;
  word-wrap: break-word;
  
  background-color: #101218;
  color: white;
}

/* When either the image or name is hovered, make the name red */
.projectElement:hover .projectName
{
  background-color: red;
}

/* When either the image or name is hovered, create border around whole element */
.projectElement:hover
{
  /* border: 1px solid #777; */
}


/*====================/
/ About Classes
/====================*/

/* Creates a divider between sections */
.aboutHeader
{
  height: 10vh;
  max-width: 100%;
  margin: 1vh 0;
  display: block;
  box-sizing:border-box;
  
  text-align: center;
  
  color: white;
  font-size: 60px;
  border-bottom: 2px solid white;
}

div.bodyHolder
{
  height: auto;
  min-height: 40vh;
  max-width: 100%;
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  
  color: white;
  background-color: rgba(19, 1, 1, 0.9);
  border: 2px solid white;
}

div.profileHolder
{
  float: right;
  width: 15%;
  min-width: 200px;
  min-height: 30vh;
  box-sizing: border-box;
  
  padding: 3px;
  margin: 1vh 2vw;
  
  text-align: center;
  border: 2px solid white;
}

p.bio
{
  margin: 0.5em;
  display: block;
  color: white;
}

/* Creates a divider between sections */
h1.aboutSectionHeader
{
  height: 7vh;
  max-width: 100%;
  margin: 1vh 0;
  display: block;
  box-sizing:border-box;
  
  text-align: center;
  
  color: white;
  font-size: 40px;
  border-bottom: 2px solid white;
}

div.tableHolder
{
  max-width:100%;
}

table.experienceTable
{
  width:auto;
  min-width: 50%;
  display: table;
  box-sizing: border-box;
  
  /* margin: 1em 0; */
  border: 1px solid white;
  border-collapse: collapse;
  
  text-align: center;
  background-color: black;
  color: white;
  font-size: 100%;
}

table.experienceTable, .experienceTable th, .experienceTable td
{
  border: 1px solid white;
}

/* Creates a element that can go side by side, have a fixed size, and can be centered */
.experienceElement
{
  /* height: 30vh;
  max-width:  30%;*/
  height: auto;
  width: 100px;
  display:inline-block;
  
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0 0.5vh 0.5vw;
  border-radius: 4px;
  
  border: 2px solid white;
  text-align: center;
}

/* Creates a link with no background nor text decoration */
.experienceElement a
{
  width: 100%;
  height: auto;
  
  text-align: center;
  word-wrap: normal;
  background: none;
  text-decoration: none;
  color: white;
}

/*====================/
/ Project Classes
/====================*/


/* Creates a header for a project */
h1.projectHeader
{
  height: 10vh;
  max-width: 100%;
  margin: 1vh 0;
  display: block;
  box-sizing:border-box;
  
  text-align: center;
  
  color: white;
  font-size: 60px;
  border-bottom: 2px solid white;
}

/* Creates a holder for the project's main image */
div.projectBigImageHolder
{
  height: auto;
  min-height: 10vh;
  max-width: 100%;
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  
  color: white;
  background-color: rgba(19, 1, 1, 0.9);
  border: 2px solid white;
}

/* Scales the main image itself */
.projectBigImageHolder img
{
  display: block;
  width: 100%;
  height: 100%;
  
  margin: auto;
  border: 0;
  vertical-align: middle;
  overflow: clip;
  object-fit: fill;
}

/* Section that holds the rest of the project information */
div.projectBodyHolder
{
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  
  color: white;
  background-color: rgba(19, 1, 1, 0.9);
  border: 2px solid white;
}

/* Table of contents */
div.toc
{
  display: table;
  
  padding: 1vh 2vw;
  border-radius: 4px;
  border: 2px solid white;
  
}

/* Invisible toggle for Table of Contents */
input.tocToggleCheckbox
{
  display: inline !important;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* holder for Table of Contents Title */
.toc .tocTitle
{
  text-align: center;
  display: block;
}

/* Header for Table of Contents Title */
.toc h2.tocHeader
{
  display:inline;
  border: 0;
  font-size:100%;
}

/* Span after title */
.toc .tocToggleSpan
{
  font-size: 94%;
}

/* Adds contents to span */
.toc .tocToggleSpan::before
{
  content: ' [';
}

/*Adds contents to span */
.toc .tocToggleSpan::after
{
  content: ']';
}

/* the center text after the title */
.toc .tocToggleLabel
{
  cursor: pointer;
  color: white;
}

/* If the toggle checkbox isn't checked, the label will read hide */
.toc .tocToggleCheckbox::not(:checked) + 
.tocTitle .tocToggleLabel::after
{
  content: 'hide';
}

/* If the toggle checkbox is checked, the label will read show */
.toc .tocToggleCheckbox:checked + 
.tocTitle .tocToggleLabel::after
{
  content: 'show';
}



.toc ul
{
  list-style: none;
  margin: 0.3em;
  padding: 0;
  text-align:start;
}

.toc li
{
  display: list-item;
  margin-bottom: 0.1em;
}

.toc .tocNumber
{
  color: blue;
  padding-left: 0;
  padding-right: 0.5em;
}

.toc .tocText
{
  color: blue;
}

.toc .tocNumber, .toc .tocText
{
  display: table-cell;
  text-decoration: inherit;
}